html {
  background: #000;
  color: #ff0000;
  font-size: .525rem;
  font-family: monospace;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  text-align: center;
  height: 75%;
  padding: 0 10%; */
}

a {
  color: #ff0000;
  text-decoration: underline dotted;
  -webkit-text-decoration: underline dotted;
}

a:hover {
  color: #bb0000;
  font-weight: 800;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
}

.footer {
  text-align: center;
}

.footer p {
  margin: 0;
}

@media (min-width: 200px) {
  html {
    font-size: .75rem;
  }
}

@media (min-width: 375px) {
  html {
    font-size: .875rem;
  }
}

@media (min-width: 414px) {
  html {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.125rem;
  }

  .articles > li {
    width: calc(50% - 1.5rem);
  }

  .articles > li:nth-child(odd) {
    margin-right: 3rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 1.25rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    marquee-style: none !important;
    scroll-snap-type: none !important;
    scroll-behavior: auto !important;
  }
  .animated {
    display: none;
  }
  .static {
    display: block;
  }
}
